doctype html
html
  head

    title Language Trees
    block head
      link(rel="stylesheet", href="/stylesheets/layouts.css")
      link(rel="stylesheet", href="/stylesheets/materialize.css")
      link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css")
    block scripts
      script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js")
      script hljs.initHighlightingOnLoad();

  body
    header
      block nav
        nav.orange
          .nav-wrapper
            a.brand-logo.center(href='/') Language Trees
    main
      block content

    block footer
      footer.page-footer.orange
        .container
          .row
            .col.s12.center
              h5.white-text Sorting Algorithms by Language
              p.grey-text.text-lighten-4 Sort it. Sort it good.
        .footer-copyright
          .container.center
            span Copyright &copy; 2016