body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 3em !important;
}

#brand-sort {
  font-weight: 400;
}

h2 {
  font-size: 2.5em !important;
}

.top-padding {
  margin-top: 4em;
}